a{
    display: flex;
    justify-content: center;
    padding-left: 1030px;
}
.bb{
    position: relative;
    left: 1778px;
    bottom: 105px;
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
    width: 111px;
    height: 40px;
}
.ol{
    position: relative;
    bottom: 50px;
}
.LO{
    position: relative;
    left: 110px;
    bottom: 68px;
    
}
.kk{
    position: relative;
    left: 215px;
    bottom: 84px;
}
.img{
    position: relative;
    width: 420px;
    height: 400px;
    left: 1390px;
    margin: 20px;
    z-index: 5;
    bottom: 350px;
}
.mm{
    position: relative;
    width: 750px;
    height: 700px;
    left: 679px;
    margin: 100px;
    bottom: 260px; 
    
}
.cc{
    position: relative;
    bottom: 1000px;
}
.jpg{
    position: relative;
    bottom: 630px;
    right: 350px;
}
.hh{
    position: relative;
    bottom: 530px;
    right: 550px;

}
.dd{
    position: relative; 
    bottom: 630px;
    left: -400px;

}
.vv{
    position: relative; 
    bottom: 500px;
    left: -470px;
}

